
  .Carousel__wrapper {
    position: relative;
    top: 50%;
    width: 50%;
  }

  @media only screen and (min-width: 1024px){
    .Carousel__wrapper {
        margin: 5% 25%;
        width: 50%
      }
    
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px){
    .Carousel__wrapper {
        margin: 10%;
        width: 80%;
      }
    
  }

  @media only screen and (min-width: 320px) and (max-width: 758px){
    .Carousel__wrapper {
        width: 100%
      }
    }

  
  .Carousel__inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .Carousel__inner > .Carousel__slide {
    position: relative;
    display: none;
    animation: 0.5s ease-in-out;
  }
  
  .Carousel__inner > .Carousel__active,
  .Carousel__inner > .Carousel__next {
    display: block;
  }
  
  .Carousel__inner > .Carousel__next {
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .Carousel__inner > .Carousel__to-left {
    animation-name: left;
  }
  
  .Carousel__inner > .Carousel__from-right {
    animation-name: right;
  }
  
  .Carousel__inner > .Carousel__to-right {
    animation-name: right;
    animation-direction: reverse;
  }
  
  .Carousel__inner > .Carousel__from-left {
    animation-name: left;
    animation-direction: reverse;
  }
  
  .Carousel__container {
    margin: 0 auto;
  }

  img {
    width: 100%;
  }
  
  .Carousel__control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    margin: 0 3%;
  }
  
  .Carousel__control.right {
    right: 0;
    left: auto;
  }
  
  .Carousel__control > .Carousel__arrow {
    position: absolute;
    z-index: 2;
    top: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyNiAyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+QXJyb3c8L3RpdGxlPjxwYXRoIGQ9Ik0yNS42IDEwLjk3NGwtOC41MyA4LjYyYTEuMzYgMS4zNiAwIDAgMS0xLjkzNS4wMDMgMS4zODcgMS4zODcgMCAwIDEtLjAwMi0xLjk1bDYuMjAxLTYuMjY4SDEuMzY4QTEuMzc0IDEuMzc0IDAgMCAxIDAgMTBjMC0uNzYyLjYxMy0xLjM4IDEuMzY4LTEuMzhoMTkuOTY2bC02LjItNi4yNjdhMS4zODcgMS4zODcgMCAwIDEgLjAwMS0xLjk1IDEuMzYgMS4zNiAwIDAgMSAxLjkzNi4wMDJsOC41MyA4LjYyMWMuNTMyLjUzOC41MzIgMS40MSAwIDEuOTQ4IiBmaWxsPSIjRkZGRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=") center center no-repeat;
    background-size: 26px 20px;
    opacity: 0.6;
    transform: translateY(-50%);
  }
  
  .Carousel__control > .Carousel__arrow:hover {
    opacity: 0.8;
  }
  
  .Carousel__control > .Carousel__arrow.left {
    transform: translateY(-50%) rotate(180deg);
  }
  
  .Carousel__control > .Carousel__arrow.right {
    right: 50%;
  }
  
  
  @keyframes left {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }
  
  @keyframes right {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }